.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}
@media (min-width: 1900px) {
    .container {
        max-width: 1900px;
    }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.orangeHome{
  /* z-index: -10; */
  clip-path: polygon(0 25%, 100% 5%, 100% 100%, 0% 100%);
}

.introCard{
  z-index: 999;
}

.introCard::before{
  content: "";
  background-color: #FE6A6A;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  border-radius: 12px;
  transition: all 0.4s linear;

}

.introCard:hover::before{
  transform-origin: 0% 0%;
  transform: rotate(-5deg) translateX(10px) translateY(10px);
  height: 110%;
}
